<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>POST 방식으로 요청 후 응답 페이지 받아보기</title>
</head>
<body>
	<h1>POST 방식으로 요청후 응답 페이지 받아보기</h1>
	
	<p>
		특징 1. POST 방식으로 요청하는 건 URL의 Body 영역에 데이터를 포함시켜서 요청 <br>
		=> 사용자가 입력한 값들이 URL에 노출되지 않는다
		=> 보안 유지가 가능하다<br>
		=> 로그인이나, 회원가입 같은 경우 POST 방식이 적합함<br><br>
		
		특징 2. Body 영역은 전송하는 길이에 제한이 없음<br>
		=> 게시판 작성 같은 경우 post 방식이 적합함<br><br>
		
		특징 3. 즐겨찾기는 가능하나 전달되는 데이터가 URL에 노출되어 있지 않음(기존에 응답 화면을 볼 수가 없을 것)<br><br>
		
		특징 4. 최대 요청받는 시간(Time out)이 존재해 페이지 요청, 기다리는 시간이 있다.<br>
	</p>
	
	<form action="/servlet/test2.do" method="post"> <!-- 절대 경로 방식 -->
		<ul>
			<li>
				<!-- input 태그 사용 시 key값(name속성값)은 반드시 넘겨야 한다 -->
				이름 : <input type="text" name="name">
			</li>
			<li>
				성별 : 
				남자 <input type="radio" name="gender" value="M">
				여자 <input type="radio" name="gender" value="F">
				<!-- radio 버튼 사용 시 같은 묶음으로 묶어줄 경우 name속성값(key값)을 동일하게 작성해야 함 --> 			
			</li>
			<li>
				나이 : <input type="number" name="age">
			</li>
			<li>
				사는 도시 : 
				<select name="city">
					<option>서울시</option>
					<option>경기도</option>
					<option>부산</option>
				</select>
			</li>
			<li>
				키 : <input type="range" name="height" min="140" max="250">
			</li>
			<li>
				좋아하는 음식(모두 고르시오) : 
				한식 <input type="checkbox" name="food" value="한식">
				중식 <input type="checkbox" name="food" value="중식">
				일식 <input type="checkbox" name="food" value="일식">
				양식 <input type="checkbox" name="food" value="양식">
				분식 <input type="checkbox" name="food" value="분식">
			</li>
			<li>
				<input type="submit">
				<input type="reset">
			</li>						
		</ul>		
	</form>
</body>
</html>